<ion-view view-title="Review">
  <ion-content>
		<center>
			<span style="display: inline;">
		    <navigate class="button icon-left ion-arrow-left-b button-clear" ng-click="decCard()" ></navigate>
		  	<flippy ng-click="flip()" flip-duration="800" timing-function="ease-in-out">
		          <flippy-front>{{cardList[index][front]}}</flippy-front>
		          <flippy-back>{{cardList[index][back]}}</flippy-back>
		  	</flippy>
		    <navigate class="button icon-right ion-arrow-right-b button-clear" ng-click="incCard()" ></navigate>
			</span>

			<br>
			<span style="display: inline;">
				Front:<select ng-model="front" id="cardFrontSelection"></select>
				Back:<select ng-model="back" id="cardBackSelection"></select>
			</span>
		</center>
  </ion-content>
</ion-view>