<ion-view view-title="Review">
  <ion-content>
	<center>
		<table border="1">
		  <tr>
		    <td><a class="button icon-left ion-arrow-left-b button-clear" href="#/tab/review/{{prevCard}}"></a></td>
		    <td class="flashCard">{{cardList[index][front]}}</td>
		    <td class="flashCard">{{cardList[index][back]}}</td>
		    <td><a class="button icon-right ion-arrow-right-b button-clear" href="#/tab/review/{{nextCard}}"></a></td>
		  </tr>
		</table>
		<span style="display: inline;">
			Front:<select id="cardFrontSelection"></select>
			Back:<select id="cardBackSelection"></select>
		</span>
</center>

  </ion-content>
</ion-view>