.flashCard {
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    font-size:50px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
a.button{
	font-size: 90px;
}